:root {
    --main-color: #FF9800;
}
* {
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.scroller{
    height: 5px;
    width: 0;
    background-color: var(--main-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
.scroll-up{
    width: 40px;
    height: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: var(--main-color);
    z-index: 999;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
.scroll-up.show{
    display: flex;
}
.container{
    width: 1170px;
    padding: 0 15px;
    margin: auto;
}
@media(max-width: 992px){
    .container{
        max-width: 960px;
    }
}
@media(max-width: 768px){
    .container{
        max-width: 720px;
    }
}
@media(max-width: 576px){
    .container{
        max-width: 540px;
    }
}
/* Start setting-box  */
.setting-box {
    background-color: white;
    position: fixed;
    top: 0;
    left: -200px;
    min-height: 100vh;
    z-index: 1000;
    width: 200px;
    transition: 0.3s;
}
.setting-box.open {
    left: 0;
    border: 1px solid #eee;
}
.setting-box .toggle-settings {
    position: absolute;
    right: -30px;
    top: 100px;
    text-align: center;
    cursor: pointer;
    background-color: black;
    font-size: 17px;
    color: white;
}
.setting-box .toggle-settings {
    width: 30px;
    padding: 8px 0;
}
.setting-box .setting-container .option-box{
    padding: 10px;
    background-color: #cccccc;
    margin: 10px;
    text-align: center;
}
.setting-box  .option-box h4{
    margin: 0;
    font-size: 14px;
    color: #666;
}
.setting-box .option-box .colors-list{
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    text-align: center;
}
.setting-box .option-box .colors-list li{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: black;
    opacity: 1;
    display: inline-block;
    border: 3px solid #cccccc;
    cursor: pointer;
}
.setting-box .option-box .colors-list .active {
    border-color: #fff;
}
.setting-box .option-box .colors-list li:first-child{
    background-color: #FF9800;
}
.setting-box .option-box .colors-list li:nth-child(2){
    background-color: #E91E63;
}
.setting-box .option-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.setting-box .option-box .colors-list li:nth-child(4){
    background-color: #03A9F4;
}
.setting-box .option-box .colors-list li:nth-child(5){
    background-color: #4CAF50;
}
.setting-box .option-box:nth-child(2) span{
    background-color: var(--main-color);
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: 10px;
    display: inline-block;
    cursor: pointer;
    width: 50px;
    opacity: 0.5;
}
.setting-box .option-box:nth-child(2) span.active{
    opacity: 1;
}

/* End setting-box  */


/* Start landing page  */
.landing-page{
    background-image: url(../imeges/01.jpg);
    min-height: 100vh;
    background-size: cover;
    position: relative;
}
.landing-page .overlay{
    background-color: hwb(0deg 0% 100% / 60%);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}
.landing-page .header{
    display: flex;
    z-index: 2;
    color: #FFF;
    position: relative;
    padding: 15px;
}
.landing-page .header .logo{
    padding: 15px;
    width: 300px;
    font-weight: bold;
}
.landing-page .header .links{
    text-align: right;
    padding-left: 0;
    width: 100%;
    padding-right: 20px;
    list-style: none;
    font-size: 15px;
}
.landing-page .header .links li{
    display: inline-block;
    margin-left: 10px;
}
.landing-page .header .links li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.landing-page .header .links li a:hover,
.landing-page .header .links li a.active{
    color: var(--main-color);
}
.landing-page .introdaction{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    z-index: 2;
    color: #FFF;
    text-align: center;
    width: 100%;
}
.landing-page .introdaction h1{
    font-size: 34px;
    margin: 0 0 12px;
}
.landing-page .introdaction h1 span{
    color: var(--main-color);
}
.landing-page .introdaction p{
    line-height: 1.6;
    margin: 0;
    font-size: 20px;
} 
/* End landing page  */


/* Start About Us  */
.about-us{
    display: flex;
    padding: 50px 0;
}
.about-us .text{
    flex: 1;
    padding: 30px;
}
.about-us .text h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px;
}
.about-us .text p{
    line-height: 1.8;
    color: #767676;
    margin: 0;
}
.about-us .image-box{
    flex: 1;
    text-align: center;
}
.about-us .image-box img{
    width: 250px;
}
/* End About Us  */

/* Start our skills  */
.our-skills {
    background-color: #eee;
    padding: 50px 0;
    margin-bottom: 50px;
}
.our-skills h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.our-skills .skill-box{
    padding: 15px;
    background-color: white;
    margin-bottom: 15px;
    display: flex;
    border-radius: 10px;
}
.our-skills .skill-box .skill-name{
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}
.our-skills .skill-box .skill-progress{
    height: 30px;
    width: 100%;
    background: #f6f6f6;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}
.our-skills .skill-box .skill-progress span{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    background-color: var(--main-color);
    height: 100%;
    transition: 0.3s;
}
/* End our skills  */

/* Start Gallery  */
.gallery{
    padding: 50px 0;
    text-align: center;
}
.gallery h2{
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 50px;
    text-align: center;
}
.gallery .box-imgs img{
    width: 200px;
    padding: 3px;
    background: #F6F6F6;
    border: 1px solid #eee;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hwb(0deg 0% 100% / 70%);
    z-index: 1000;
}
.pupup-img{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 10001;
    text-align: center;
}
.pupup-img img{
    max-width: 100%;
}
.pupup-img h3{
    color: var(--main-color);
    font-weight: bold;
}
.close-popup{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}
.close-popup i {
    color: white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.close-popup:hover{
    background-color: red;
}
.close-popup:hover i{
    color: black;
}

/* End Gallery  */